/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

/*@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }*/


@-webkit-keyframes rotateLeft {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.enemy{
  /*-webkit-animation:spin 4s linear*/
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  -webkit-transform-origin-x: initial;
  -webkit-transform-origin-y: initial;
  -webkit-transform-origin-z: initial;
  -webkit-animation-name: rotateLeft;
}

.player{

}
.svg-container{
  background-image: url(earth.jpg);
  background-size: cover;
}
.scoreboard{
  background-color: black;
  color: white;
}
body{
  background-image: url(space.jpg);
  background-size: cover;
}

.container{
  position: relative;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
